<div class="BlockEditor-content" {{action "handleBubbleClick" on="click"}}>
  {{#each blocks as |blockData|}}
    <div class="BlockEditor-blockContainer" {{action "handleBlockSelected" blockData.id on="click"}}
      {{action "handleBlockSelected" blockData.id on="focusIn"}}>
      <TextBlock @blockData={{blockData.blockData}} @onBlockDataChange={{action "handleBlockDataChange" blockData.id}} />
    </div>
    <div class="BlockEditor-layoutEditButtons">
      <PopupButton @options={{addBlockOptions}} @onOptionClick={{action "addBlockBelow" blockData.id}}>+</PopupButton>
    </div>
  {{/each}}
</div>
{{#if selectedBlockId}}
  <div class="BlockEditor-sidebar">
    <BlockPropertyBar @onDelete={{action "handleBlockDelete"}} />
  </div>
{{/if}}