<div class="BlockEditor-content" {{action "handleBubbleClick" on="click"}}>
  {{#each blocks as |blockData|}}
    <div class="BlockEditor-blockContainer" {{action "handleBlockSelected" blockData.id on="click"}}
      {{action "handleBlockSelected" blockData.id on="focusIn"}}>

      {{#if blockData.isTextBlock}}
        <TextBlock @blockData={{blockData.blockData}} @onBlockDataChange={{action "handleBlockDataChange" blockData.id}} />
      {{/if}}
      {{#if blockData.isImageBlock}}
        <ImageBlock @blockData={{blockData.blockData}} @onBlockDataChange={{action "handleBlockDataChange" blockData.id}} />
      {{/if}}
      {{#if blockData.isColumnsBlock}}
        <ColumnsBlock @blockId={{blockData.id}} @editorData={{editorData}} @blockData={{blockData.blockData}}
          @onEditorStateChange={{action "handleColumnChangesEditorState"}} @onBlockSelected={{action "handleColumnBlockSelected"}} />
      {{/if}}

    </div>
    <div class="BlockEditor-layoutEditButtons">
      <PopupButton @options={{addBlockOptions}} @onOptionClick={{action "addBlockBelow" blockData.id}}>+</PopupButton>
    </div>
  {{/each}}
</div>
{{#if selectedBlockId}}
  <div class="BlockEditor-sidebar">
    <BlockPropertyBar @blockData={{selectedBlockData}} @blockType={{selectedBlockType}} @onChange={{action "handleSelectedBlockDataChange"}}
      @onDelete={{action "handleBlockDelete"}} />
  </div>
{{/if}}